.contest-intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $main-dark;
  min-width: 320px;
  min-height: 220px;

  @media (min-width: $tablet) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

.contest-intro__title {
  margin: 0 auto;
  padding-top: 36px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;

  @media (min-width: $tablet) {
    padding-top: 81px;
    padding-bottom: 74px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop) {
    padding-top: 184px;
    padding-bottom: 104px;
  }
}
