.contest-intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-width: 320px;
  min-height: 220px;
}

.contest-intro__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
}
