.contest-intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $main-dark;
  min-width: 320px;
  min-height: 238px;

  @media (min-width: $tablet) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    min-height: 440px;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/bg-back-desktop@1xjpg");
    min-height: 394px;
  }

  &--index {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: top;

    @media (min-width: $tablet) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
    }

    @media (min-width: $desktop) {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }
}

.contest-intro__title {
  margin: 0 auto;
  width: 228px;
  padding-top: 90px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;

  @media (min-width: $tablet) {
    padding-top: 176px;
    padding-bottom: 74px;
    width: 620px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop) {
    padding-top: 184px;
    padding-bottom: 104px;
    width: 747px;
  }
}
