.developer {
  display: flex;
  width: 130px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s linear;

  &:hover {
    path {
      fill: #283645;
    }

    &:active {
      path {
        fill: $active-dark;
      }
    }
  }

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.developer__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.developer__link {
  display: block;
}
