.intro-photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 320px;
  min-height: 238px;
  background-color: $dark-blue;

  @media (min-width: $tablet) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    min-height: 440px;
  }

  @media (min-width: $desktop) {
    background-image: url("../img/bg-back-desktop@1xjpg");
    min-height: 394px;
  }

  &--index {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: top;

    @media (min-width: $tablet) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
    }

    @media (min-width: $desktop) {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }
}

.intro-photo__title {
  margin: 0 auto;
  padding-top: 90px;
  width: 171px;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white;

  @media (min-width: $tablet) {
    padding-top: 170px;
    width: 358px;
    font-size: 50px;
    line-height: 68px;
  }
}
