/* .main-nav {
  background-color: $menu-header;
} */

.main-nav__list {
  @include reset-list;
}

.site-list__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $white;
}
