.main-footer__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 180px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    width: 640px;
  }

  @media (min-width: $desktop) {
    width: 940px;
  }
}

.main-footer__logo {
  display: block;
  width: 145px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 48px;
  transition: 0.2s linear;

  &:hover {
    path {
      fill: $pink;
    }
  }

  &:active {
    .glasses {
      fill: $button-active-pink;
    }

    path {
      fill: $active-dark;
    }
  }

  @media (min-width: $tablet) {
    margin: 0;
  }
}
