.offers-list {
  @include reset-list;
  background-color: $light-gray;
}

.offers-list__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: $black;
  margin-bottom: 24px;
}

.offers-list__paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 43px;
}
