.offers-list {
  @include reset-list;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 660px;
  }

  @media (min-width: $desktop) {
    width: 895px;
    display: flex;
    justify-content: space-between;
  }
}

.offers-list__item {
  position: relative;
  text-align: center;

  &:last-child {
    .offers-list__paragraph {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    width: 252px;

    &:nth-child(1) {
      &::before {
        content: "";
        position: absolute;
        bottom: 165px;
        right: 5px;
        width: 270px;
        height: 382px;
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
      }
    }

    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        bottom: 165px;
        right: 11px;
        width: 270px;
        height: 382px;
        background-image: url("../img/iphone-screen-2-desktop@1x.png");
        background-repeat: no-repeat;
      }
    }

    &:last-child {
      &::before {
        content: "";
        position: absolute;
        bottom: 165px;
        right: -3px;
        width: 270px;
        height: 382px;
        background-image: url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
      }
    }
  }
}

.offers-list__title {
  margin: 0;
  margin-bottom: 11px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: $black;

  @media (min-width: $tablet) {
    width: 310px;
    margin-left: auto;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0;
    margin-bottom: 23px;
    width: 240px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.offers-list__paragraph {
  margin: 0;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 14px;

  @media (min-width: $tablet) {
    width: 310px;
    margin-left: auto;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0;
    width: 252px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
