.post {
  padding-left: 17px;
  background-color: $light-gray;

  @media (min-width: $tablet) {
    padding-left: 30px;
  }

  @media (min-width: $desktop) {
    padding-left: 27px;
  }
}

.post__info {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 14px;
}

.post__time {
  font-weight: 300;
  font-size: 12px;
}

.post__description {
  margin: 0;
  font-weight: normal;
  margin-bottom: 25px;
}

.post__like-button {
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
  border: none;
}
