.solution {
  position: relative;

  @media (min-width: $desktop) {
    background-color: $light-gray;
  }
}

.solution__container {
  padding-top: 43px;
  padding-bottom: 6px;

  @media (min-width: $desktop) {
    padding-top: 54px;
    padding-bottom: 73px;
    background-color: white;
  }
}

.solution__wrap {
  padding-top: 79px;
  padding-bottom: 367px;
  background-color: $light-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 30%;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: cover;
    width: 157px;
    height: 282px;
  }


  @media (min-width: $tablet) {
    padding-top: 104px;
    padding-bottom: 49px;

    &::before {
      content: "";
      position: absolute;
      top: 255px;
      left: 15px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      width: 268px;
      height: 485px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 340px;

    &::before {
      content: none;
    }
  }
}

.solution__paragraph {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 780px;
    font-size: 50px;
    line-height: 68px;
  }
}

.solution__inner {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 310px;
  }

  @media (min-width: $desktop) {
    padding-top: 117px;
    padding-bottom: 110px;
    width: 534px;
  }
}

.solution__title {
  @media (min-width: $tablet) {
    width: 168px;
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 26px;
    width: 298px;
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.solution__info-effect {
  @media (min-width: $tablet) {
    width: 310px;
    margin: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 29px;
    width: 525px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
  }
}

.solution__info-link {
  @media (min-width: $tablet) {
    display: block;
    width: 226px;
    margin: 0;
    color: $pink;
    text-decoration: underline;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
    width: 290px;
  }
}
