.user-photos__list {
  @include reset-list;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-photos__img {
  @media (min-width: $tablet) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop) {
    height: 400px;
  }
}

.user-photos__post {
  @media (min-width: $tablet) {
    width: 300px;
    height: 155px;

    &--panorama {
      margin-bottom: 50px;
      width: 620px;
    }
  }

  @media (min-width: $desktop) {
    &--panorama {
      width: 940px;
    }
  }
}
