.user-photos__list {
  @include reset-list;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

// .user-photos__item {
//   @media (min-width: $tablet) {
//   width: 300px;

//   &--panorama {
//     width: 660px;
//   }
//  }

//  @media (min-width: $desktop) {
//    &--panorama {
//      width: 940px;
//    }
//  }
// }

.user-photos__img {
  @media (min-width: $tablet) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop) {
    height: 400px;
  }
}

.user-photos__post {
  @media (min-width: $tablet) {
    width: 300px;
    height: 155px;

    &--panorama {
      width: 620px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop) {
    &--panorama {
      width: 940px;
    }
  }
}
