// Viewports

$tablet: 768px;
$desktop: 1200px;
$mobile: 767px;

//Color

$black: #000000;
$white: #FFFFFF;
$menu-header: rgba(0,0,0,0.3);
$dark-blue: #1D2631;
$main-dark: #283645;
$gray: #E5E5E5;
$light-gray: #F2F2F2;
$pink: #D22856;
$button-green: #2AAB6D;
$button-green-hover: #1C9B5E;
