// Viewports

$tablet: 660px;
$desktop: 960px;
$mobile: 320px;

//Color

$black: #000000;
$white: #ffffff;
$menu-header: rgba(0, 0, 0, 0.3);
$dark-blue: #1d2631;
$main-dark: #283645;
$gray: #e5e5e5;
$light-gray: #f2f2f2;
$pink: #d22856;
$button-active-pink: rgba(210, 40, 86, 0.3);
$button-green: #2aab6d;
$button-green-hover: #1c9b5e;
$active-dark: rgba(40, 54, 69, 0.3);
